//= header.html

<div class="breadcrumbs breadcrumbs__background">
    <div class="breadcrumbs__block container">
        <a class="breadcrumbs__link" href="index.html">Home</a> / <span class="breadcrumbs__page">Contact Us</span>
        <h1 class="breadcrumbs__title">Contact us</h1>
    </div>
</div>


<div class="section section_color_white container-fluid">
    <div class="container">

        <div class="map">
            <img src="img/map.png" alt="">
        </div>

        <div class="contacts__block row">
            <div class="col-lg-9">
                <div class="heading row">
                    <div class="heading__title col-xl-3 col-lg-4 col-md-4 col-sm-5">
                        <h4 class="heading_color_black heading_size_l">
                            Get in touch
                        </h4>
                    </div>

                    <div class="heading__separator-2 col-xl-2 col-lg-3 col-md-8 col-sm-7"></div>
                </div>

                <p class="text contacts__text">
                    Proin sed justo dignissim elit tristique elementum eu eu lectus. Phasellus semper faucibus nibh, quis ornare odio scelerisque a. Etiam diam ex, condimentum sed vestibulum quis, sollicitudin vel lorem. Etiam varius justo a fermentum finibus. Suspendisse id mi commodo, ultricies augue ut, condimentum lacus.
                </p>

                <form class="feedback row" action="index.html" method="post">
                    <div class="col-lg-4">
                        <label class="feedback__label" for="name">Name*</label>
                        <input class="feedback__input" type="text" name="name" value="" placeholder="Type your name" required>
                    </div>

                    <div class="col-lg-4">
                        <label class="feedback__label" for="name">Phone Number*</label>
                        <input class="feedback__input" type="text" name="phone" value="" placeholder="Type your name" required>
                    </div>

                    <div class="col-lg-4">
                        <label class="feedback__label" for="name">Email*</label>
                        <input class="feedback__input" type="text" name="email" value="" placeholder="Type your name" required>
                    </div>

                    <div class="col-xl-12">
                        <label class="feedback__label" for="message">Message*</label>
                        <textarea class="feedback__message" name="message" placeholder="Type your message" required></textarea>
                    </div>

                    <div class="col-xl-2">
                        <button class="button button_size_l button_color_black feedback__button" type="button" name="button">
                            Send message
                        </button>
                    </div>
                </form>
            </div>

            <div class="col-lg-3">
                <div class="heading row">
                    <div class="heading__title col-xl-8 col-lg-9 col-md-4 col-sm-5">
                        <h4 class="heading_color_black heading_size_l">
                            Contact us
                        </h4>
                    </div>

                    <div class="heading__separator-2 col-xl-4 col-lg-3 col-md-8 col-sm-7"></div>
                </div>
            </div>
        </div>
    </div>
</div>
//= footer.html
