//= header.html
<div class="breadcrumbs breadcrumbs__background">
    <div class="breadcrumbs__block container">
        <a class="breadcrumbs__link" href="index.html">Home</a> / <span class="breadcrumbs__page">Portfolio</span>
        <h1 class="breadcrumbs__title">Portfolio</h1>
    </div>
</div>

<div class="section section_color_white container-fluid">
    <div class="container">

        <div class="portfolio row">

            <div class="portfolio__tags row justify-content-center">
                <button class="button button_size_s button_color_transparent button_state_active portfolio__tag" data-filter="all">
                    All
                </button>

                <button class="button button_size_s button_color_transparent portfolio__tag" data-filter=".design">
                    Design
                </button>

                <button class="button button_size_s button_color_transparent portfolio__tag" data-filter=".wedding">
                    Wedding
                </button>

                <button class="button button_size_s button_color_transparent portfolio__tag" data-filter=".sports">
                    Sports
                </button>

                <button class="button button_size_s button_color_transparent portfolio__tag" data-filter=".fashion">
                    Fashion
                </button>

                <button class="button button_size_s button_color_transparent portfolio__tag" data-filter=".travels">
                    Travels
                </button>

                <button class="button button_size_s button_color_transparent portfolio__tag" data-filter=".party">
                    Party
                </button>

                <button class="button button_size_s button_color_transparent portfolio__tag" data-filter=".animals">
                    Animals
                </button>
            </div>

            <div class="portfolio__gallery col-12 row">
                    <a href="https://unsplash.it/1200/768.jpg?image=251" data-toggle="lightbox" class="portfolio__item col-4 design">
                        <img src="https://unsplash.it/600.jpg?image=251" class="img-fluid">
                    </a>

                    <a href="https://unsplash.it/1200/768.jpg?image=252" data-toggle="lightbox" class="portfolio__item col-4 wedding">
                        <img src="https://unsplash.it/600.jpg?image=252" class="img-fluid">
                    </a>

                    <a href="https://unsplash.it/1200/768.jpg?image=253" data-toggle="lightbox" class="portfolio__item col-4 sports">
                        <img src="https://unsplash.it/600.jpg?image=253" class="img-fluid">
                    </a>

                    <a href="https://unsplash.it/1200/768.jpg?image=254" data-toggle="lightbox" class="portfolio__item col-4 fashion">
                        <img src="https://unsplash.it/600.jpg?image=254" class="img-fluid">
                    </a>

                    <a href="https://unsplash.it/1200/768.jpg?image=255" data-toggle="lightbox" class="portfolio__item col-4 travels">
                        <img src="https://unsplash.it/600.jpg?image=255" class="img-fluid">
                    </a>

                    <a href="https://unsplash.it/1200/768.jpg?image=256" data-toggle="lightbox" class="portfolio__item col-4 party">
                        <img src="https://unsplash.it/600.jpg?image=256" class="img-fluid">
                    </a>

                    <a href="https://unsplash.it/1200/768.jpg?image=254" data-toggle="lightbox" class="portfolio__item col-4 animals">
                        <img src="https://unsplash.it/600.jpg?image=254" class="img-fluid">
                    </a>

                    <a href="https://unsplash.it/1200/768.jpg?image=255" data-toggle="lightbox" class="portfolio__item col-4 party">
                        <img src="https://unsplash.it/600.jpg?image=255" class="img-fluid">
                    </a>

                    <a href="https://unsplash.it/1200/768.jpg?image=256" data-toggle="lightbox" class="portfolio__item col-4 animals">
                        <img src="https://unsplash.it/600.jpg?image=256" class="img-fluid">
                    </a>
            </div>
            <a class="button button_size_l button_color_black portfolio__button" href="">View more</a>
        </div>

    </div>
</div>


//= footer.html
