<div class="section section_color_white container-fluid">
    <div class="container">
        <div class="heading row">
            <div class="heading__title col-xl-2 col-lg-2 col-md-3 col-sm-4">
                <h4 class="heading_color_yellow heading_size_s">
                    My studio detail
                </h4>
                <h4 class="heading_color_black heading_size_l">
                    About us
                </h4>
            </div>

            <div class="heading__separator col-xl-2 col-lg-2 col-md-7 col-sm-5"></div>

            <div class="heading__icon">
            </div>

            <div class="text text_color_dark heading__text col-xl-7 col-lg-6">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                Duis nibh erat, semper at pretium in, efficitur nec leo.
                Nullam ut leo augue.
            </div>
        </div>

        <div class="about row">
            <p class="text text_color_dark about__text col-xl-6 col-lg-6">
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Saepe sunt commodi minus, repudiandae, unde sint sed blanditiis qui quaerat est eos quam soluta doloribus fugit culpa! Praesentium provident minima earum aliquid quaerat ullam quisquam consequuntur debitis doloremque. Quibusdam voluptates voluptatem mollitia similique quisquam. Et eos fugiat hic aliquid rerum labore nobis consequuntur id atque illum perferendis ullam iste quisquam ad libero nam dolore provident, aperiam excepturi? Quam beatae cumque quod voluptatibus obcaecati ad a autem dolorum perferendis debitis ipsam, necessitatibus totam provident asperiores animi doloremque, quis quibusdam alias hic! Quaerat ut, saepe culpa. Doloremque placeat laudantium fugit similique labore, rerum.
            </p>

            <div class="col-xl-6 col-lg-6">
                <img class="about__image" src="img/aboutphoto.png" alt="">
            </div>

            <a class="button button_size_l button_color_black about__button" href="#">Read more</a>
        </div>
    </div>
</div>
