<div class="section section_color_yellow container-fluid">
    <div class="container">
        <div class="heading row">
            <div class="heading__title col-xl-2 col-lg-3 col-md-3 col-sm-4">
                <h4 class="heading_color_yellow heading_size_s">
                    Latest news
                </h4>
                <h4 class="heading_color_black heading_size_l">
                    Last news
                </h4>
            </div>

            <div class="heading__separator col-xl-2 col-lg-2 col-md-7 col-sm-5"></div>

            <div class="heading__icon">
            </div>

            <div class="text text_color_dark heading__text col-xl-7 col-lg-5">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                Duis nibh erat, semper at pretium in, efficitur nec leo.
                Nullam ut leo augue.
            </div>
        </div>

        <div class="blog row">
            <div class="blog__item col-xl-6">
                <img class="blog__image" src="img/blogimg.png" alt="">
                <div class="blog__content">
                        <a class="heading heading__title heading_color_black heading_size_m blog__link" href="#">
                            Blog Title here
                        </a>



                    <span class="blog__author">
                        By Admin |
                    </span>

                    <span class="blog__date">
                        22 August
                    </span>

                    <p class="text text_color_dark blog__text">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                        Nam ante diam, malesuada quis lacinia vitae, volutpat at lacus.
                    </p>
                </div>
            </div>

            <div class="blog__item col-xl-6">
                <img class="blog__image" src="img/blogimg.png" alt="">
                <div class="blog__content">
                    <div class="heading">
                        <a class="heading__title heading_color_black heading_size_m blog__link" href="#">
                            Blog Title here
                        </a>
                    </div>



                    <span class="blog__author">
                        By Admin |
                    </span>

                    <span class="blog__date">
                        22 August
                    </span>

                    <p class="text text_color_dark blog__text">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                        Nam ante diam, malesuada quis lacinia vitae, volutpat at lacus.
                    </p>
                </div>
            </div>

            <div class="blog__item col-xl-6">
                <img class="blog__image" src="img/blogimg.png" alt="">
                <div class="blog__content">
                    <div class="heading">
                        <a class="heading__title heading_color_black heading_size_m blog__link" href="#">
                            Blog Title here
                        </a>
                    </div>



                    <span class="blog__author">
                        By Admin |
                    </span>

                    <span class="blog__date">
                        22 August
                    </span>

                    <p class="text text_color_dark blog__text">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                        Nam ante diam, malesuada quis lacinia vitae, volutpat at lacus.
                    </p>
                </div>
            </div>

            <div class="blog__item col-xl-6">
                <img class="blog__image" src="img/blogimg.png" alt="">
                <div class="blog__content">
                    <div class="heading">
                        <a class="heading__title heading_color_black heading_size_m blog__link" href="#">
                            Blog Title here
                        </a>
                    </div>



                    <span class="blog__author">
                        By Admin |
                    </span>

                    <span class="blog__date">
                        22 August
                    </span>

                    <p class="text text_color_dark blog__text">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                        Nam ante diam, malesuada quis lacinia vitae, volutpat at lacus.
                    </p>
                </div>
            </div>


        </div>
    </div>
</div>
