<div class="section section_color_white container-fluid">
    <div class="container">
        <div class="feature">
            <div class="heading row">
                <div class="heading__title col-xl-2 col-lg-2 col-md-3 col-sm-4">
                    <h4 class="heading_color_yellow heading_size_s">
                        What people say
                    </h4>
                    <h4 class="heading_color_black heading_size_l">
                        Opinions
                    </h4>
                </div>

                <div class="heading__separator col-xl-2 col-lg-2 col-md-7 col-sm-5"></div>

                <div class="heading__icon">
                </div>

                <div class="text text_color_dark heading__text col-xl-7 col-lg-6">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                    Duis nibh erat, semper at pretium in, efficitur nec leo.
                    Nullam ut leo augue.
                </div>
            </div>

            <div class="feature-slider">
              <div class="feature-slider_viewport">
                <div class="feature-slider_list">
                  <div class="feature-slider_item">
                      <div class="feature__quote">
                          <p class="text text_color_dark feature__text col-xl-8 col-lg-10 col-md-10">
                              Lorem ipsum dolor sit amet, consectetur
                              adipisicing elit. Neque placeat delectus
                              at dolorem mollitia, perspiciatis laboriosam
                              ullam sunt modi atque aliquid soluta
                              tempora nihil assumenda fugit ipsa repellat
                              molestiae tenetur.
                          </p>

                          <span class="feature__author">
                              John Doe
                          </span>
                      </div>
                  </div>
                  <div class="feature-slider_item">
                      <div class="feature__quote">
                          <p class="text text_color_dark feature__text col-xl-8 col-lg-10 col-md-10">
                              Lorem ipsum dolor sit amet, consectetur
                              adipisicing elit. Neque placeat delectus
                              at dolorem mollitia, perspiciatis laboriosam
                              ullam sunt modi atque aliquid soluta
                              tempora nihil assumenda fugit ipsa repellat
                              molestiae tenetur.
                          </p>

                          <span class="feature__author">
                              John Doe
                          </span>
                      </div>
                  </div>
                  <div class="feature-slider_item">
                      <div class="feature__quote">
                          <p class="text text_color_dark feature__text col-xl-8 col-lg-10 col-md-10">
                              Lorem ipsum dolor sit amet, consectetur
                              adipisicing elit. Neque placeat delectus
                              at dolorem mollitia, perspiciatis laboriosam
                              ullam sunt modi atque aliquid soluta
                              tempora nihil assumenda fugit ipsa repellat
                              molestiae tenetur.
                          </p>

                          <span class="feature__author">
                              John Doe
                          </span>
                      </div>
                  </div>
                  <div class="feature-slider_item">
                      <div class="feature__quote">
                          <p class="text text_color_dark feature__text col-xl-8 col-lg-10 col-md-10">
                              Lorem ipsum dolor sit amet, consectetur
                              adipisicing elit. Neque placeat delectus
                              at dolorem mollitia, perspiciatis laboriosam
                              ullam sunt modi atque aliquid soluta
                              tempora nihil assumenda fugit ipsa repellat
                              molestiae tenetur.
                          </p>

                          <span class="feature__author">
                              John Doe
                          </span>
                      </div>
                  </div>
                  <div class="feature-slider_item">
                      <div class="feature__quote">
                          <p class="text text_color_dark feature__text col-xl-8 col-lg-10 col-md-10">
                              Lorem ipsum dolor sit amet, consectetur
                              adipisicing elit. Neque placeat delectus
                              at dolorem mollitia, perspiciatis laboriosam
                              ullam sunt modi atque aliquid soluta
                              tempora nihil assumenda fugit ipsa repellat
                              molestiae tenetur.
                          </p>

                          <span class="feature__author">
                              John Doe
                          </span>
                      </div>
                  </div>
                  <div class="feature-slider_item">
                      <div class="feature__quote">
                          <p class="text text_color_dark feature__text col-xl-8 col-lg-10 col-md-10">
                              Lorem ipsum dolor sit amet, consectetur
                              adipisicing elit. Neque placeat delectus
                              at dolorem mollitia, perspiciatis laboriosam
                              ullam sunt modi atque aliquid soluta
                              tempora nihil assumenda fugit ipsa repellat
                              molestiae tenetur.
                          </p>

                          <span class="feature__author">
                              John Doe
                          </span>
                      </div>
                  </div>
                  <div class="feature-slider_item">
                      <div class="feature__quote">
                          <p class="text text_color_dark feature__text col-xl-8 col-lg-10 col-md-10">
                              Lorem ipsum dolor sit amet, consectetur
                              adipisicing elit. Neque placeat delectus
                              at dolorem mollitia, perspiciatis laboriosam
                              ullam sunt modi atque aliquid soluta
                              tempora nihil assumenda fugit ipsa repellat
                              molestiae tenetur.
                          </p>

                          <span class="feature__author">
                              John Doe
                          </span>
                      </div>
                  </div>
                  <div class="feature-slider_item">
                      <div class="feature__quote">
                          <p class="text text_color_dark feature__text col-xl-8 col-lg-10 col-md-10">
                              Lorem ipsum dolor sit amet, consectetur
                              adipisicing elit. Neque placeat delectus
                              at dolorem mollitia, perspiciatis laboriosam
                              ullam sunt modi atque aliquid soluta
                              tempora nihil assumenda fugit ipsa repellat
                              molestiae tenetur.
                          </p>

                          <span class="feature__author">
                              John Doe
                          </span>
                      </div>
                  </div>
                  <div class="feature-slider_item">
                      <div class="feature__quote">
                          <p class="text text_color_dark feature__text col-xl-8 col-lg-10 col-md-10">
                              Lorem ipsum dolor sit amet, consectetur
                              adipisicing elit. Neque placeat delectus
                              at dolorem mollitia, perspiciatis laboriosam
                              ullam sunt modi atque aliquid soluta
                              tempora nihil assumenda fugit ipsa repellat
                              molestiae tenetur.
                          </p>

                          <span class="feature__author">
                              John Doe
                          </span>
                      </div>
                  </div>
                </div>
              </div>
                <div class="feature-slider_nav">
                <div class="feature-slider_arrow feature-slider_arrow__left"></div>
                <div class="feature-slider_arrow feature-slider_arrow__right"></div>
                </div>
                <div class="feature-slider_control-nav"></div>
            </div>
            </div>
        </div>
    </div>
</div>
