<div class="section section_color_white container-fluid">
    <div class="container">
        <div class="heading row">
            <div class="heading__title col-xl-2 col-lg-3 col-md-3 col-sm-4">
                <h4 class="heading_color_yellow heading_size_s">
                    Get in touch
                </h4>
                <h4 class="heading_color_black heading_size_l">
                    Contact us
                </h4>
            </div>

            <div class="heading__separator col-xl-2 col-lg-2 col-md-7 col-sm-5"></div>

            <div class="heading__icon">
            </div>

            <div class="text text_color_dark heading__text col-xl-7 col-lg-5">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                Duis nibh erat, semper at pretium in, efficitur nec leo.
                Nullam ut leo augue.
            </div>
        </div>

        <form class="feedback row" action="index.html" method="post">
            <div class="col-lg-4">
                <label class="feedback__label" for="name">Name*</label>
                <input class="feedback__input" type="text" name="name" value="" placeholder="Type your name" required>
            </div>

            <div class="col-lg-4">
                <label class="feedback__label" for="phone">Phone Number*</label>
                <input class="feedback__input" type="text" name="phone" value="" placeholder="Type your name" required>
            </div>

            <div class="col-lg-4">
                <label class="feedback__label" for="email">Email*</label>
                <input class="feedback__input" type="text" name="email" value="" placeholder="Type your name" required>
            </div>

            <div class="col-xl-12">
                <label class="feedback__label" for="message">Message*</label>
                <textarea class="feedback__message" name="message" placeholder="Type your message" required></textarea>
            </div>

            <div class="col-xl-2">
                <button class="button button_size_l button_color_black feedback__button" type="button" name="button">
                    Send message
                </button>
            </div>
        </form>
    </div>
</div>
