<div class="section section_color_dark container-fluid">
    <div class="footer container">
        <div class="contacts row">
            <div class="contacts__item footer__item col-xl-4 col-lg-4 col-md-4 col-sm-4">
                <i class="contacts__icon footer__icon">
                    &#xf095;
                </i>

                <span class="text text_color_light footer__text">
                    1111 - 222 - 4444<br />
                    1 800 12345 Hello
                </span>
            </div>

            <div class="contacts__item footer__item col-xl-4 col-lg-4 col-md-4 col-sm-4">
                <i class="contacts__icon footer__icon">
                    &#xf0e0;
                </i>

                <span class="text text_color_light footer__text">
                    dsstudio@example.com<br />
                    info@dsstudio.com
                </span>
            </div>

            <div class="contacts__item footer__item col-xl-4 col-lg-4 col-md-4 col-sm-4">
                <i class="contacts__icon footer__icon">
                    &#xf041;
                </i>

                <span class="text text_color_light footer__text">
                    66 Town St - Suite 522<br />
                    Newyork, United States, GA 11111
                </span>
            </div>
        </div>

        <div class="row">
            <div class="logo footer__logo col-xl-3 col-lg-4 col-md-5 col-sm-7">
                <img class="logo__image" src="img/logo.png" alt="">
                <span class="logo__name">Ds Studio</span>
                <span class="logo__spec">Photography</span>
            </div>

            <div class="social-footer col-xl-12">
                <a class="social-footer__item" href="#">&#xf09a;</a>
                <a class="social-footer__item" href="#">&#xf099;</a>
                <a class="social-footer__item" href="#">&#xf0d5;</a>
                <a class="social-footer__item" href="#">&#xf16d;</a>
                <a class="social-footer__item" href="#">&#xf231;</a>
                <a class="social-footer__item" href="#">&#xf0e1;</a>
                <a class="social-footer__item" href="#">&#xf16a;</a>
            </div>
        </div>
    </div>
</div>

<div class="copyrights container-fluid">
    <span class="text text_color_light">Copyrights &copy; 2017 | </span>
    <span class="text text_color_yellow">DS Studio</span>
    <span class="text text_color_light"> | All rights reserved.</span>
</div>
