<div class="header-slider">
  <div class="header-slider_viewport">
    <div class="header-slider_list">
      <div class="header-slider_item">
        <img src="img/slide.png" alt="">
      </div>

      <div class="header-slider_item">
        <img src="img/slide.png" alt="">
      </div>

      <div class="header-slider_item">
        <img src="img/slide.png" alt="">
      </div>

        <div class="header-slider_item">
            <img src="img/slide.png" alt="">
        </div>
    </div>
 </div>

<div class="header-slider_control-nav"></div>
</div>
