<div class="offcanvas offcanvas__menu">
  <a class="offcanvas__close" href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
  <a class="offcanvas__link" href="index.html">Home</a>
  <a class="offcanvas__link" href="about.html">About</a>
  <a class="offcanvas__link" href="portfolio.html">Portfolio</a>
  <a class="offcanvas__link" href="blog.html">Our blog</a>
  <a class="offcanvas__link" href="contact.html">Contact us</a>
</div>

<div class="header container-fluid">
    <div class="container">
        <div class="row">
            <div class="logo header__logo col-xl-3 col-lg-4 col-md-5 col-sm-7">
                <img class="logo__image" src="img/logo.png" alt="">
                <span class="logo__name">Ds Studio</span>
                <span class="logo__spec">Photography</span>
            </div>

            <span class="offcanvas offcanvas__open" onclick="openNav()">
                &#xf0c9;
            </span>

            <ul class="nav col-xl-7 offset-xl-2">
                <li class="nav__item">
                    <a class="nav__link" href="index.html">Home</a>
                </li>
                <li class="nav__item">
                    <a class="nav__link" href="about.html">About us</a>
                </li>
                <li class="nav__item">
                    <a class="nav__link" href="portfolio.html">Portfolio</a>
                </li>
                <li class="nav__item">
                    <a class="nav__link" href="blog.html">Our blog</a>
                </li>
                <li class="nav__item">
                    <a class="nav__link" href="#">Contact us</a>
                    <span class="nav__separator">|</span>
                </li>

                <li class="nav__social">
                    <a class="nav__link" href="#">&#xf09a;</a>
                </li>
                <li class="nav__social">
                    <a class="nav__link" href="#">&#xf099;</a>
                </li>
                <li class="nav__social">
                    <a class="nav__link" href="#">&#xf0d5;</a>
                </li>
                <li class="nav__social">
                    <a class="nav__link" href="#">&#xf16d;</a>
                </li>
            </ul>
        </div>
    </div>
</div>
