<div class="section section_background_image container-fluid">
    <div class="container">
        <div class="stat row">
            <div class="stat__item col-xl-3 col-lg-3 col-md-6 col-sm-6 col-xs-6">
                <div class="stat__icon">
                    &#xf0c0;
                </div>

                <span class="stat__count">
                    965
                </span>

                <h6 class="stat__title">
                    Happy customers
                </h6>
            </div>

            <div class="stat__item col-xl-3 col-lg-3 col-md-6 col-sm-6 col-xs-6">
                <div class="stat__icon">
                    &#xf083;
                </div>

                <span class="stat__count">
                    5K+
                </span>

                <h6 class="stat__title">
                    photo sessions
                </h6>
            </div>

            <div class="stat__item col-xl-3 col-lg-3 col-md-6 col-sm-6 col-xs-6">
                <div class="stat__icon">
                    &#xf03d;
                </div>

                <span class="stat__count">
                    2K+
                </span>

                <h6 class="stat__title">
                    video sessions
                </h6>
            </div>

            <div class="stat__item col-xl-3 col-lg-3 col-md-6 col-sm-6 col-xs-6">
                <div class="stat__icon">
                    &#xf0ed;
                </div>

                <span class="stat__count">
                    30K+
                </span>

                <h6 class="stat__title">
                    archive photography
                </h6>
            </div>
        </div>
    </div>
</div>
