.portfolio {
}

.portfolio__button {
    margin: 0 auto;
}


.portfolio__tags {
    margin: 0 auto;
    margin-top: 50px;
}

.portfolio__tag {
    margin: 0 auto;
    margin-bottom: 10px;
    margin-left: 10px;
}

.portfolio__gallery {
    margin-top: 50px;
}

.portfolio__item {
    margin-bottom: 30px;
}

.portfolio__img {
    display: block;
}
